span.guimenu     { font-family: monospace; font-style: italic; }
span.guimenuitem { font-family: monospace; font-style: italic; }
span.guilabel    { font-family: monospace; font-style: italic; }
span.guibutton   { font-family: monospace; font-style: italic; }
span.guiicon     { font-family: monospace; font-style: italic; }
span.guisubmenu  { font-family: monospace; font-style: italic; }
span.term        {
    font-family: monospace;
    font-weight: bold;
    background: black;
    color: white;
    padding: 1px;
}

div.caption      { font-size: 80%; }
div.important    { background: yellow; }
div.warning      { background: red; }

pre.programlisting { background-color: silver; padding: 5px; }

h1.title { font-size: 300%; }
div.chapter h2.title {
    font-size: 200%;
    font-weight: bold;
    color: white;
    background: #083194;
    border: 4px groove black;
    padding: 5px;
}
div.section h2.title {
    font-size: 150%;
    font-weight: bold;
    color: black;
    background: white;
    padding: 2px;
    border: 2px solid #083194;
}
