<!--<ccnetconfig><configurationVersion>1.4</configurationVersion></ccnetconfig>-->
<cruisecontrol>
  <project name="System.Data.Hsqldb">
    <workingDirectory>..\..\</workingDirectory>
    <artifactDirectory>..\..\System.Data.Hsqldb\BuildArtifacts</artifactDirectory>
    <sourcecontrol type="svn">
      <trunkUrl>https://hsqldb.svn.sourceforge.net/svnroot/hsqldb/dotnet/trunk</trunkUrl>
      <executable>..\..\Subversion\bin\svn.exe</executable>
      <tagBaseUrl>https://hsqldb.svn.sourceforge.net/svnroot/hsqldb/dotnet/tags</tagBaseUrl>
    </sourcecontrol>
    <triggers>
      <scheduleTrigger time="06:00:00" buildCondition="IfModificationExists" name="Morning Build" />
      <scheduleTrigger time="18:00:00" name="Evening Build" />
    </triggers>
    <tasks>
      <msbuild>
        <executable>D:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe</executable>
        <workingDirectory>System.Data.Hsqldb</workingDirectory>
        <projectFile>System.Data.Hsqldb.sln</projectFile>
        <buildArgs>/noconsolelogger /p:Configuration=Debug</buildArgs>
        <targets>Rebuild</targets>
        <logger>ThoughtWorks.CruiseControl.MSBuild.dll</logger>
        <timeout>900</timeout>
      </msbuild>
      <nunit>
        <path>..\..\NUnit\bin\nunit-console.exe</path>
        <outputfile>nunit-results.xml</outputfile>
        <assemblies>
          <assembly>System.Data.Hsqldb\Lib\Org.Hsqldb.dll</assembly>
        </assemblies>
      </nunit>
    </tasks>
    <publishers>
      <xmllogger logDir="BuildLogs" />
      <statistics />
    </publishers>
    <labeller type="defaultlabeller">
      <prefix>System.Data.Hsqldb 1.8.0.10b</prefix>
    </labeller>
    <externalLinks>
      <externalLink name="Home Page" url="http://hsqldb.org/" />
    </externalLinks>
  </project>
</cruisecontrol>