# $Id: sample-hsqldb.cfg,v 1.2 2004/04/23 16:49:44 unsaved Exp $

# Sample configuration file for HSQLDB database server.
# See the "UNIX Quick Start" chapter of the Hsqldb User Guide.

# N.b.!!!!  You must place this in the right location for your type of UNIX.
# See the init script "hsqldb" to see where this must be placed and
# what it should be renamed to.


# This file is "sourced" by a Bourne shell, so use Bourne shell syntax.

JAVA_HOME=/usr/java/j2sdk1.4.2_02

HSQLDB_HOME=/home/blaine/hsqldb-dev

# Where the file "server.properties" resides.
SERVER_HOME=/home/blaine/db

# These are "urlid" values from a SqlTool authentication file.
# Separate multiple values with white space.  NO OTHER SPECIAL CHARACTERS!
# Make sure to quote the entire value if it contains white space separator(s).
SHUTDOWN_URLIDS='sa mygms'

# What UNIX user the server will run as.
# (The shutdown client is always run as root or the invoker of the init script).
# Runs as root by default, but you should take the time to set database file
# ownerships to another user and set that user name here.
HSQLDB_OWNER=blaine

# SqlTool authentication file used only for shutdown.
# The default value will be sqltool.rc in root's home directory, since it is 
# root who runs the init script.
# (See the SqlTool chapter of the HSQLDB User Guide if you don't understand 
# this).
#AUTH_FILE=/home/blaine/sqltool.rc

# Time to allow for java process to die, if it's not able to start up,
# And for it to shutdown after it receives the last SQL "shutdown" command.
# If not set, will use default value set in the init script.
#MAX_STARTSTOP_SECS=1
