<?xml version="1.0" encoding="utf-8"?>

<!--
    $Id$

    Wix Memory Module definition


    HyperSQL ODBC Driver

    Significant modifications Copyright 2009 by
    the HSQL Development Group.  Changes made by the HSQL
    Development are documented precisely in the public HyperSQL
    source code repository, available through http://hsqldb.org.

    This library is free software; you can redistribute it and/or
    modify it under the terms of the GNU Library General Public
    License as published by the Free Software Foundation; either
    version 2 of the License, or (at your option) any later version.

    This library is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Library General Public License for more details.

    You should have received a copy of the GNU Library General Public
    License along with this library; if not, write to the
    Free Foundation, Inc., 51 Franklin Street, Fifth Floor,
    Boston, MA  02110-1301  USA
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="hsqlodbc" Version="$(var.VERSION)" Language="1033">

    <Package Id="646C4361-B21B-3667-A4A9-A512A05B2F8A"
             Description="HyperSQL ODBC Driver"
             Keywords="HSQLDB, HyperSQL, ODBC"
             Manufacturer="The HSQL Development Group"
             InstallerVersion="150"
             Platform="x86"
             Languages="1033"
             SummaryCodepage="1252" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="BINDIR" Name=".">
        <Component Id="hsqlodbc_files" Guid="DA8F2D4A-1A56-3FCF-A80F-CE7AAAC061C2">
          <File Id="hsqlodbca_dll" Name="hsqlodbca.dll"
                Source="../src/MultibyteRelease/hsqlodbca.dll" />
          <File Id="hsqlodbcu_dll" Name="hsqlodbcu.dll"
                Source="../src/Release/hsqlodbcu.dll" />
          <File Id="pgxalib_dll" Name="pgxalib.dll"
                Source="../src/Release/pgxalib.dll" />
          <File Id="pgenlist_dll" Name="pgenlist.dll"
                Source="../src/Release/pgenlist.dll" />
          <File Id="pgenlista_dll" Name="pgenlista.dll"
                Source="../src/MultibyteRelease/pgenlista.dll" />

          <!-- Gettext
          <File Id="libintl3_dll" Name="libintl3.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/libintl3.dll" />
          <File Id="libiconv2_dll" Name="libiconv2.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/libiconv2.dll" />

             - SSL -
          <File Id="libeay32_dll" Name="libeay32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/libeay32.dll" />
          <File Id="ssleay32_dll" Name="ssleay32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/ssleay32.dll" />

             - MIT Kerberos -
          <File Id="comerr32_dll" Name="comerr32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/comerr32.dll" />
          <File Id="krb5_32_dll" Name="krb5_32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/krb5_32.dll" />
          <File Id="k5sprt32_dll" Name="k5sprt32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/k5sprt32.dll" />
          <File Id="gssapi32_dll" Name="gssapi32.dll"
                Source="$(var.PROGRAMFILES)/PostgreSQL/8.3/bin/gssapi32.dll" />
          -->

          <!-- VC++ 7.1 runtime - required by Kerberos -->
          <File Id="msvcr71_dll" Name="msvcr71.dll"
                Source="$(var.SYSTEM32DIR)/msvcr71.dll" />

          <!-- Note, installing the driver properly (IE, using ODBCDriver) has proven
               unreliable so we install the registry keys manually ourselves.  -->
          <!-- The required settings are documented at
               http://msdn.microsoft.com/en-us/library/ms714538(VS.85).aspx -->
          <RegistryValue Id="hsqlodbc01a.reg.1" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers"
                         Name="HyperSQL ANSI" Type="string" Value="Installed" />
          <RegistryValue Id="hsqlodbc01a.reg.2" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="APILevel" Type="string" Value="1" />
          <RegistryValue Id="hsqlodbc01a.reg.3" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="ConnectFunctions" Type="string" Value="YYN" />
          <RegistryValue Id="hsqlodbc01a.reg.4" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="Driver" Type="string" Value="[#hsqlodbca_dll]" />
          <RegistryValue Id="hsqlodbc01a.reg.5" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="DriverODBCVer" Type="string" Value="03.00" />
          <RegistryValue Id="hsqlodbc01a.reg.6" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="FileUsage" Type="string" Value="0" />
          <RegistryValue Id="hsqlodbc01a.reg.7" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="Setup" Type="string" Value="[#hsqlodbca_dll]" />
          <RegistryValue Id="hsqlodbc01a.reg.8" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="SQLLevel" Type="string" Value="1" />
          <RegistryValue Id="hsqlodbc01a.reg.9" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL ANSI"
                         Name="UsageCount" Type="integer" Value="1" />

          <RegistryValue Id="hsqlodbc01u.reg.1" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers"
                         Name="HyperSQL Unicode" Type="string" Value="Installed" />
          <RegistryValue Id="hsqlodbc01u.reg.2" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="APILevel" Type="string" Value="1" />
          <RegistryValue Id="hsqlodbc01u.reg.3" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="ConnectFunctions" Type="string" Value="YYN" />
          <RegistryValue Id="hsqlodbc01u.reg.4" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="Driver" Type="string" Value="[#hsqlodbcu_dll]" />
          <RegistryValue Id="hsqlodbc01u.reg.5" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="DriverODBCVer" Type="string" Value="03.51" />
          <RegistryValue Id="hsqlodbc01u.reg.6" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="FileUsage" Type="string" Value="0" />
          <RegistryValue Id="hsqlodbc01u.reg.7" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="Setup" Type="string" Value="[#hsqlodbcu_dll]" />
          <RegistryValue Id="hsqlodbc01u.reg.8" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="SQLLevel" Type="string" Value="1" />
          <RegistryValue Id="hsqlodbc01u.reg.9" Root="HKLM"
                         Key="SOFTWARE\ODBC\ODBCINST.INI\HyperSQL Unicode"
                         Name="UsageCount" Type="integer" Value="1" />
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>
