# $Id: sqltool.rc,v 1.1 2004/04/03 22:30:01 unsaved Exp $

# This is a sample SqlTool configuration file, a.k.a. rc file.

# If you have a hsqldb Server running with default settings on your
# local computer, and you haven't changed the password for "sa", then
# just copy this file to your home directory and run SqlTool like
#    java org.hsqldb.util.SqlTool localhost-sa
# (You need to have hsqldb.jar in your classpath or use the -cp switch
# to "java", of course).
# If you have the least concerns about security, then secure access to
# your sqltool.rc file.
# See the documentation for SqlTool for various ways to use this file.

urlid localhost-sa
url jdbc:hsqldb:hsql://localhost
username sa
password


# Template for a second urlid definition.
#urlid cardiff2
#url jdbc:oracle:thin:@aegir.admc.com:1522:TRAFFIC_SID
#username blaine
#password secretpassword
#driver oracle.jdbc.OracleDriver
